extends layout.pug

block content
  article.grid-container.portfolio-intro
    div

      //- Portfolio title
      h1 Jonathan Jolivette

      //- Portfolio Description
      p.lead.text-light
        | Thank you for visiting my every evolving portfolio.
        | This space will serve to house the projects I will have built during my early stages of my personal development.
        | Please continue to return periodically as I will continue to challenge myself and build new applications along with new skills which will be highlighted here in this portfolio.
        | Again, thank you so much for visiting.
        br
        br
        span#signature Blessings, J
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Using the Pug `each` iterator to create a projet img, title and link in the markup for each project
      each proj in projects
        - let projId = `/projects/${proj.id}`
        - let imgSrc = `${proj.image_urls}/main.gif`
        .cell
          a(href=projId)
            img.thumbnail(src=imgSrc)
            h5 #{proj.project_name}

