extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
          h1 #{project.project_name}

          p.lead.text-light
            | #{project.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each technology in project.technologies
            li #{technology}

      - let liveHref = project.live_link
      - let repoHref = project.github_link
      a.button.expanded(href=liveHref target='_blank') Live Demo
      a.button.expanded(href=repoHref target='_blank') GitHub Repo

    - let gif =  `${project.image_urls}/main.gif`
    - let imgA = `${project.image_urls}/imgA.png`
    - let imgB = `${project.image_urls}/imgB.png`
    - let imgC = `${project.image_urls}/imgC.png`
    img.image(src=gif)
    img.image(src=imgA)
    img.image(src=imgB)
    img.image(src=imgC)
